<div>
	<a class="nav-button btn btn-primary" href="/form" role="button">Add New Contact</a>
	<h1>{{name}}'s Contacts:</h1>
</div>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Contact Type</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{!-- Our Handlebars code goes here! --}}
		{{!-- <td><span class="delete glyphicon glyphicon-remove" data-id="{{id}}"></span></td> --}}
		{{#each contacts}}
			<tr>
				<td>
					{{firstName}}
				</td>
				<td>
					{{lastName}}
				</td>
				<td>
					{{contactType}}
				</td>
				<td>
					{{phoneNumber}}
				</td>
				<td>
					{{emailAddress}}
				</td>
				<td><span class="delete glyphicon glyphicon-remove" data-id="{{id}}"></span></td>
			</tr>
		{{/each}}
	</tbody>
</table>
